body {
    background-image: url('../images/bg.png');
    font-family: sans-serif;
    background-repeat: no-repeat;
    color: white;
}

li a {
	color: white;
	text-decoration: none;
	margin-top: 30px;
	margin-right: 50px;
}

li {
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	margin-top: 30px;
}

li:last-child {
	float: right;
}

nav {
	text-align: center;
	float: right;
	margin-right: 20px;
}

header img {
	height: 70px;
	float: left;
}

header {
	min-height: 200px;
}

footer {
	bottom: 0;
	position:fixed;
	height: 1;
	margin-bottom: 1px;
}

.mezelf {
	margin: 500px auto;
	line-height: 25px;
	border: solid 2px black;
	width: 500px;
	padding: 20px;
	background-image: linear-gradient(to bottom left, #3F3F3F, #353536);
}

#head {
	text-align: center;
	font-size: 30px;
}